:root{
  background-color: aliceblue;
  margin: 20px;
}
.divide{
  display: grid;
  grid-template-columns: 380px 820px;
  column-gap: 20px;
}
.one{
  overflow-y: scroll;
  height: 950px;
  text-wrap: wrap;
  background-color: rgb(214, 214, 214);
}
.heading{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.heading input{
  margin-left: 70px;
  margin-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: -20px;
}
.educationinput{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.educationinput input{
  margin-left: 70px;
  margin-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: -20px;
  width: 230px;
}
.areainput{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.areainput input{
  margin-left: 70px;
  margin-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: -20px;
  width: 230px;
}
.proinput{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.proinput input{
  margin-left: 70px;
  margin-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: -20px;
  width: 230px;
}

.two{
  box-shadow: 0px 2px 7px 0px;}
.top{
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: #010029;
  color: #F6F4F0;
  height: 170px;

}
.top img{
  border: 1px solid white;
  height: 130px;
  width: 130px;
  margin-top: 20px;
  border-radius: 50%;
}
#header{
  display: flex;
  justify-content: space-between;
 
}
#header h5{
  margin-top: -10px;
}

/* |^ header */
/* V body */
#bodycv{
  background-color: #ececec;
}
.edu{
  padding-left: 20px;
  padding-right: 20px;
}
.edu h4{
  background-color:#bab9ff ;
  padding: 5px;
  color: #010029;
  padding-left: 20px;
}
.para{
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  padding-left: 20px;
  padding-right: 20px;
}
.prt1 h5{
  margin-bottom: -10px;
}
.prt2 h5{
  text-align: right;
  margin-bottom: -10px;
}
.aofin{
  padding-left: 20px;
  padding-right: 20px;
}
.aofin h4{
  background-color:#bab9ff ;
  padding: 5px;
  color: #010029;
  padding-left: 20px;
}
.arealist{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: -5px;
  gap: 20px;
  text-wrap: wrap;
}
.projects{
  padding-left: 20px;
  padding-right: 20px;
}
.projects h4{
  background-color:#bab9ff ;
  padding: 5px;
  color: #010029;
  padding-left: 20px;
}
.procnt{
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hobbies{
  padding-left: 20px;
  padding-right: 20px;
}
.hobbies h4{
  background-color:#bab9ff ;
  padding: 5px;
  color: #010029;
  padding-left: 20px;
}
.hobbiescnt{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
